@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Tomorrow', sans-serif;
    /* color:rgb(255, 255, 255); */

   }

.columns {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: black;
}

.column {
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 8px;
    width: 180px;
    background-color: #f1f1f1;
    float:right;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 30px;
    text-decoration: none;
  }
  
  /* Change link color when hover */
  li a:hover {
    background-color: #555;
    color: white;
  }

  h2, p, h3, h1 {
    margin: 20px 100px 10px;
  }

 .main-image{
     width:500px
 }
 .unit1-bg{
     background:url(images/sky.jpg)
 }

.unit1-1{
    background-image: url(images/flowe.jpg);
}

.unit2-1{
    background-image: url(images/paper.jpg)
}

.unit-me{
    background-image: url(images/yellow.jpg);
}

.yellow {
    background-color: gold;
}